.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .about-text {
    width: 60%;
  }
  
  .about-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-text h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .about-text p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .about-image {
    width: 35%;
    margin-left: 5%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .about-image img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
    }
  
    .about-text,
    .about-image {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }